@import url("../default/default.css");
* {
	font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
}

header, main{
	display:inline-block;
	position:absolute;
}

header {
	left:0;
	top:0;
	bottom:0;
}

main {
	top:0;
	right:0;
	bottom:0;
	overflow:hidden;
	padding:0 0 16px 0;
}

main .stage {
	width:100%;
	display:block;
	overflow-y:auto;
}

main .primary,
main .secondary {
	display:inline-block;
	overflow-x:hidden;
}

main.primary-mode .primary,
main.secondary-mode .secondary {
    width:100%;
}

main.primary-mode .secondary,
main.secondary-mode .primary {
    width:0;
}

main.split-mode .primary {
	width:64%;
}

main.split-mode .secondary {
    width:36%;
}

@media screen and (min-width:48em) {
	header {
	}
	main {
	}
}

@media screen and (min-width:64em) {
    header {
        right:84%;
    }
    main {
        left:16%;
    }
}

@media screen and (min-width:72em) {
	header {
		right:88%;
	}
	main {
		left:12%;
	}
}

.color-one,
.color-one a {
	background-color:#282828;
	color:#b3b3b3;
	border-color:#282828;
}

.color-one a:hover {
	background-color:#202020;
}

.color-two, 
.color-two a {
	background-color:#f0f0f0;
}

.color-three,
.color-three a {
	color:#181818;
	background-color:#fff;
}

.topbar {
	display:block;
	width:100%;
	height:68px;
}

main .topbar {
	height:69px;
}

h1.topbar {
	line-height:68px;
}

header nav {
	border-top: 1px solid #1a1a1a;
	border-bottom: 1px solid #333;
}

header nav>ul>li{
	border-top: 1px solid #333;
	border-bottom: 1px solid #1a1a1a;
}

header a {
	cursor:pointer;
}

header a i {
	display:inline-block;
	width:16px;
	margin-right:8px;
}

nav>ul>li.collapsible>ul>li {
	height:0;
	overflow:hidden;
}

nav>ul>li.collapsible-open>ul>li {
    height:32px;
}

header a.current {
	color:#0774bb;
}
main .topbar>div,
main .topbar form {	
	width:auto;
	padding:4px 16px 0 0;
	margin:16px 0 0 0;
}

main .topbar form input {
	border-color:transparent;
	background:transparent;
	width:auto;
}

main .topbar form i {
	margin:.5em 0 0 1em;
	color:#888;
}

main .topbar nav {
	padding:10px 0 0 0;
}

.list,
.list-header,
.list-titles,
.list-buttons,
.list-body,
.list-body-row,
.list-footer {
	display:block;
	width:100%;
}

.list-titles {
	border-right:1px solid #c8c8c8;
	padding:8px 0 4px 0;
}

.list-header {
	border-bottom:1px solid #c8c8c8;
}

.list-body-row {
	padding:4px 0 2px 0;
	border-right:1px solid #c8c8c8;
	border-bottom:1px solid #c8c8c8;
}

.list-body-row:hover {
	background-color:#fff;
}

.bulk-buttons {
	width:auto;
	display:none;
	background:#0774bb;
	color:#fff;
	margin:-64px 0 0 8px;
	padding:8px 0;
}

.list-tabs {
	display:block;
	width:100%;
	background-color:#fff;
}

.list-tab {
	padding:.5em 1em;
	margin:0 1%;
	display:inline-block;
	width:auto;
	cursor:pointer;
}

.list-tabs li.open {
	background-color:#f0f0f0;
}

.list-tab:last-child {
	margin:-4px -14px 0 0;
}

.dashboard-add-new {
	cursor:move;
	height:auto;
	padding:8px 16px 16px;
	color:#fff;
	background:#0774bb;
	border:0 none;
	position:absolute;
	right:-48px;
	bottom:50%;
	 -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.split-mode .dashboard-add-new,
.secondary-mode .dashboard-add-new {
	display:none;	
}
