@import url("../default/default.css");

* {
	font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
}

a {
	color:#0774bb;
}

header {
	top:0;
	left:0;
	right:0;
	position:fixed;
	height:80px;
	z-index:10;
}

main {
	margin:80px 0 0 0;
}

header a {
	display:inline-block;
	text-transform:uppercase;
}

.logo, header nav {
	margin-top:22px;
}


.first-color {
	color:#000;
	background:#fff;
}

.second-color {
	color:#fff;
	background:#0774bb;
	border-color:#0774bb;
}

.second-color a {
	color:#fff;
}

.third-color {
	color:#fff;
	background:#000;
	border-color:#333;
}

.activate h2, .activate h4 {
	font-weight:300;
}

.activate h2{
	font-size:3em;
}

.activate h4 {
	color:#000;
}

.wizard-item {
	display:none;
	overflow:hidden;
	width:0;
	float:left;
}

.wizard-item:first-child {
	display:inline-block;
	width:100%;
}

.wizard-item-content {
	display:block;
}
